@model PracaInz.ViewModels.NetworkDevicesViewModels.NetworkDeviceListViewModel



<table class="table">
    <thead>
        <tr>
            <th>
                <p>ID</p>
            </th>
            <th>
                <p>Model</p>
            </th>
            <th>
                <p>Serial Number</p>
            </th>
            <th>
                <p>Category</p>
            </th>
            <th>
                <p>Device Description</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.NetworkDevices.Count() > 0)
        {
            @foreach (var dev in Model.NetworkDevices)
            {
                <tr>
                    <td>
                        @dev.Id
                    </td>
                    <td>
                        @dev.Model
                    </td>
                    <td>
                        @dev.SerialNumber
                    </td>
                    <td>
                        @foreach (var cat in dev.Categories)
                        {
                            @cat.Title
                        }
                    </td>
                    <td>
                        @dev.DeviceDescription
                    </td>

                </tr>
            }
        }
        else
        {
            <h4>Brak komputerów przypisanych do Ciebie kochaniutku</h4>
        }

    </tbody>
</table>
