@model PracaInz.ViewModels.NetworkDevicesViewModels.NetworkDeviceListViewModel
@inject PracaInz.Services.NetworkDeviceServices NetworkDeviceServices

@if (Model.NetworkDevices.Count() > 0)
{
    <table class="table border border-info rounded">
        <thead>
            <tr>
                <th>
                    <p>Model</p>
                </th>
                <th>
                    <p>Serial Number</p>
                </th>
                <th>
                    <p>Category</p>
                </th>
                <th>
                    <p>Device owner</p>
                </th>
                <th>
                    <p>IP Address</p>
                </th>
                <th>
                    <p>Last Status</p>
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dev1 in Model.NetworkDevices)
            {
                <tr>
                    <td>
                        @dev1.Model
                    </td>
                    <td>
                        @dev1.SerialNumber
                    </td>
                    <td>
                        @foreach (var cat in dev1.Categories)
                        {
                            @cat.Title
                        }
                    </td>
                    <td>
                        @dev1.DeviceOwner.FirstName, @dev1.DeviceOwner.LastName
                    </td>
                    <td>
                        @if(String.IsNullOrEmpty(dev1.IPAddress) || String.IsNullOrWhiteSpace(dev1.IPAddress))
                        {
                            <p style="color: red">Brak adresu IP</p>
                        }
                        @dev1.IPAddress
                    </td>
                    <td>
                        @if (dev1.isAlive == true)
                        {
                            <p style="color: green">@dev1.isAlive</p>
                        }
                        else
                        {
                            <p style="color: red">@dev1.isAlive</p>
                        }

                    </td>
                    <td>
                        @if (!(String.IsNullOrEmpty(dev1.IPAddress) || String.IsNullOrWhiteSpace(dev1.IPAddress)))
                        {
                        <a asp-controller="NetworkDevices" asp-action="DevicePingStatus" asp-route-id="@dev1.Id">Ping</a>
                        }
                        
                    </td>

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h5 style="text-align: center">Brak przypisanych urządzeń sieciowych</h5>
}
