@model PracaInz.ViewModels.NetworkDevicesViewModels.NetworkDeviceListViewModel

<div class="row">
    <div class="col-6">
        <p>Miejsce na wyszukiwarke</p>
    </div>
    <div class="col-2">
        <button class="btn-info">Wyszukaj</button>
    </div>
</div>
<div class="row">
    <div class="col-2">Manufacturer</div>
    <div class="col-2">Model</div>
    <div class="col-2">S/N</div>
    <div class="col-2">Category</div>
    <div class="col-2">IP Address</div>
    <div class="col-1">isAlive</div>
</div>
@foreach (var dev in Model.NetworkDevices)
{
    <div class="row">
        <div class="col-2">@dev.Manufacturer</div>
        <div class="col-2">@dev.Model</div>
        <div class="col-2">@dev.SerialNumber</div>
        <div class="col-2">@dev.Categories.ToList().FirstOrDefault().ToString()</div>
        <div class="col-2">@dev.IPAddress</div>
        <div class="col-1">@dev.isAlive</div>

    </div>
}
