@model PracaInz.ViewModels.DevicesViewModels.DeviceListViewModel

@if (Model.Devices.Count() > 0)
{
<table class="table border border-info rounded">
    <thead>
        <tr>
            <th>
                <p>Model</p>
            </th>
            <th>
                <p>Serial Number</p>
            </th>
            <th>
                <p>Category</p>
            </th>
            <th>
                <p>Device Description</p>
            </th>


        </tr>

    </thead>
    <tbody>
        @foreach(var dev1 in Model.Devices)
        {
        <tr>
            <td>
                @dev1.Model
            </td>
            <td>
                @dev1.SerialNumber
            </td>
            <td>
                @foreach (var cat in dev1.Categories)
                {
                    @cat.Title
                }
            </td>
            <td>
                @dev1.DeviceDescription
            </td>


        </tr>
        }
    </tbody>
</table>

}
else
{
    <div class="row">
        <div class="col-12">
            <h5 style="text-align: center">Brak przypisanych komputerów</h5>
        </div>
    </div>
    
}


@*<table class="table">
    <thead>
        <tr>
            <th>
                <p>ID</p>
            </th>
            <th>
                <p>Model</p>
            </th>
            <th>
                <p>Serial Number</p>
            </th>
            <th>
                <p>Category</p>
            </th>
            <th>
                <p>Device Description</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Devices.Count() > 0)
        {
            @foreach (var dev in Model.Devices)
            {
                <tr>
                    <td>
                        @dev.Id
                    </td>
                    <td>
                        @dev.Model
                    </td>
                    <td>
                        @dev.SerialNumber
                    </td>
                    <td>
                        @foreach (var cat in dev.Categories)
                        {
                            @cat.Title
                        }
                    </td>
                    <td>
                        @dev.DeviceDescription
                    </td>

                </tr>
            }
        }
        else
        {
            <h4 style="text-align: center">Brak przypisanych komputerów</h4>
        }

    </tbody>
</table>*@
