@model PracaInz.ViewModels.DevicesViewModels.DeviceListViewModel

@if (Model.Devices.Count() > 0)
{
<table class="table border border-info rounded">
    <thead>
        <tr>
            <th>
                <p>Model</p>
            </th>
            <th>
                <p>Serial Number</p>
            </th>
            <th>
                <p>Category</p>
            </th>
            <th>
                <p>Device owner</p>
            </th>


        </tr>

    </thead>
    <tbody>
        @foreach(var dev1 in Model.Devices)
        {
        <tr>
            <td>
                
                @dev1.Model
            </td>
            <td>
                <a asp-controller="Devices" asp-action="Edit" asp-route-id="@dev1.Id">@dev1.SerialNumber</a>
            </td>
            <td>
                @foreach (var cat in dev1.Categories)
                {
                    @cat.Title
                }
            </td>
            <td>
                @dev1.DeviceOwner.FirstName, @dev1.DeviceOwner.LastName
            </td>


        </tr>
        }
    </tbody>
</table>

}
else
{
    <div class="row">
        <div class="col-12">
            <h5 style="text-align: center">Brak przypisanych komputerów</h5>
        </div>
    </div>
    
}
