@model PracaInz.ViewModels.DevicesViewModels.DeviceListViewModel

<div class="row">
    <div class="col-6">
        <p>Miejsce na wyszukiwarke</p>
    </div>
    <div class="col-2">
        <button class="btn-info">Wyszukaj</button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <a class="btn btn-success float-right" asp-controller="Devices" asp-action="Add">Dodaj urządzenie</a>
    </div>

</div>
<div class="row">
    <div class="col-1">ID</div>
    <div class="col-2">Manufacturer</div>
    <div class="col-2">Model</div>
    <div class="col-2">S/N</div>
    <div class="col-2">Category</div>
    <div class="col-3">Description</div>
</div>
@foreach(var dev in Model.Devices)
{
<div class="row">
    <div class="col-1">@dev.Id</div>
    <div class="col-2">@dev.Manufacturer</div>
    <div class="col-2">@dev.Model</div>
    <div class="col-2">@dev.SerialNumber</div>
    @foreach (var cat in dev.Categories)
    {
        @cat.Title
    }
    <div class="col-3">@dev.DeviceDescription</div>


</div>
}
