@model PracaInz.ViewModels.TicketViewModels.TicketListViewModel



<table class="table pt-3">
    <thead>
        <tr>
            <th>
                <p>Id</p>
            </th>
            <th>
                <p>Title</p>
            </th>
            <th>
                <p>Message</p>
            </th>
            <th>
                <p>Status</p> 
            </th>
            <th>
                <p>Created Time</p>
            <th>
                <p>Closed Time</p>
            </th>
            
        </tr>
    </thead>
    <tbody>
        @if (Model.Tickets.Count() > 0)
        {
            @foreach (var ticket in Model.Tickets)
            {
                <tr>
                    <td>
                        @ticket.Id
                    </td>
                    <td>
                        @ticket.Title
                    </td>
                    <td>
                        @ticket.Message
                    </td>
                    <td>
                        @ticket.Status
                    </td>
                    <td>
                        @ticket.CreateTime
                    </td>
                    <td>
                        @ticket.CreateTime
                    </td>
                </tr>
            }
        }
        else
        {
            <h3>Brak ticketów dla Ciebie kochaniutki</h3>
        }

    </tbody>
</table>
