@model PracaInz.ViewModels.TicketViewModels.TicketListViewModel



@if (Model.Tickets.Count() > 0)
{
    <table class="table pt-3 border border-info rounded">
        <thead>
            <tr>
                <th>
                    <p>Id</p>
                </th>
                <th>
                    <p>Title</p>
                </th>
                <th>
                    <p>Message</p>
                </th>
                <th>
                    <p>Status</p>
                </th>
                <th>
                    <p>Created Time</p>
                <th>
                    <p>Closed Time</p>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ticket1 in Model.Tickets)
            {
                <tr>
                    <td>
                        @ticket1.Id
                    </td>
                    <td>
                        @ticket1.Title
                    </td>
                    <td>
                        @ticket1.Message
                    </td>
                    <td>
                        @ticket1.Status
                    </td>
                    <td>
                        @ticket1.CreateTime
                    </td>
                    <td>
                        @ticket1.ClosedTime
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
<h5 style="text-align:center">There are no tickets in the database</h5>
}
