@model PracaInz.ViewModels.TicketViewModels.TicketListItemViewModel

<h3>Ticket title: @Model.Title</h3>
<p>Content: @Model.Message</p>
<p>Status: @Model.Status</p>
<p>Created time: @Model.CreateTime</p>
<p>Closed time: @Model.ClosedTime</p>
<p>Author: @Model.Author.FirstName @Model.Author.LastName</p>

<div class="container">
    <a class="btn btn-light" asp-controller="Ticket" asp-action="AssignTicketToYourself" asp-route-id="@Model.Id">Assign to yourself</a>
    <a class="btn btn-warning" asp-controller="Ticket" asp-action="FinishTicketUnresolved" asp-route-id="@Model.Id">Close without success</a>
    <a class="btn btn-success"  asp-controller="Ticket" asp-action="FinishTicketSuccesfully" asp-route-id="@Model.Id">Close with success</a>
    <a class="btn btn-lg" asp-controller="Ticket" asp-action="PostponeTicket" asp-route-id="@Model.Id">Postpone ticket</a>
    <a class="btn btn-outline-warning" asp-controller="Ticket" asp-action="Delete" asp-route-id="@Model.Id">Delete Ticket</a>

</div>